%animated {
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

%animatedDur05s {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

%animatedDur1s {
  animation-duration: 1s;
  animation-fill-mode: both;
}

%animated.infinite {
  animation-iteration-count: infinite;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

%fadeIn {
  animation-name: fadeIn;
}



@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

%zoomInUp {
  animation-name: zoomInUp;
}



@keyframes growHeight {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
%growHeight {
  animation-name: growHeight;
}
