.results-container{
	position:relative;
	top:250px;
	.bars{
		height:318px;
		line-height:318px;
		width:100%;
		display:block;
		text-align:center;
		.bar{
			position:relative;
			display:inline-block;
			background-color:rgba(#849EBB, 0)!important;
			vertical-align: bottom;
			width:90px;
			height:100%;
			margin:0px 25px;
			transform-origin:center bottom;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			min-height:10%;
			$gradientBg : (
				0% : rgba(#849EBB, 1),
				40% : rgba(#849EBB, 0.75),
				100% : rgba(#849EBB, 0)
			);
			@include gradient(90deg, $gradientBg);
		}
		.counter{
			font-size:30px;
			position:absolute;
			top:10%;
			width:100%;
			text-align:center;
			height: auto;
line-height: 1;
font-weight:bold;
		}
	}
	.badges{
		position:absolute;
		top:100%;
		left:0px;
		width:100%;
		text-align: center;
		.badge{
			display: inline-block;
			margin:0 9px;
			img{
				display:block;
				width:122px;
				height:auto;
				position:relative;
			}
		}
	}
}

// animate the bars
.layer.active{
	.bars{
		.bar{
			@extend %animatedDur1s;
			@extend %growHeight;
		}
	}
	.badges{
		.badge{
			@extend %animatedDur05s;
			@extend %zoomIn;
		}
	}
}




.question-container{

	position:relative;
	top: 180px;
	padding-left:91px;
	.question{
		height: 70px;
    	line-height: 70px;
		color:#fff;
		text-align:left;
		font-size:30px;
		font-family: "Helvetica Neue Light", arial, sans-serif;
		span{
			color:#C7D0D8;
		}
	}
}

.answers-container{
	position:relative;
  top: 180px;
	padding-left: 90px;
	height:516px;
	.answers{
		list-style:none;
		margin-top: 20px;
		position:absolute;

		li{
			position:relative;
			padding-left:60px;
			margin-bottom:20px;
			span.bullet{
				position:absolute;
				top:0;
				left:0;
				background-image:url('../img/bullet-bg.png');
				background-repeat:repeat;
				display:block;
				width:40px;
				height:45px;
				line-height:45px;
				text-align:center;
				color:#849EBB;
				font-size:27px;
				font-family: "Helvetica Neue Light", arial, sans-serif;
				border-radius:7px;
			}

			h4{
				font-size:27px;
				margin:0;
				color: #222;
				font-family: "Helvetica Neue Medium", arial, sans-serif;
			}

			p{
				font-size:20px;
				margin:0;
				color: #222;
				font-family: "Helvetica Neue Light", arial, sans-serif;
			}

		}

		li.passive{

			span.bullet{
				color:#C7D0D8;
			}

			h4{
				color:#C7D0D8;
			}

			p{
				color:#C7D0D8;
			}

		}

		li.active{

			span.bullet{
				background:#002266;
				color:#fff;
			}

			h4{
				color:#002266;
			}

			p{
				color:#002266;
			}

		}

	}
}


.btn-next{
	bottom:-5px !important;
	right:0px!important;
	display:none!important;
	border:none!important;
	min-width:0px!important;
	max-width:none!important;

	img{
		position:relative;
		width:125px;
	}

	&.active{
		display:block!important;
	}

}
