.owl-item {
  overflow: hidden;
}
.owl-slide {
  background-repeat: no-repeat;
  background-size: 1024px 768px;
  height: 768px;
  width: 1024px;

  * { transform: translate3d(0,0,0); }
  img { position: absolute; }
  .slide-btn-show {
    background: transparent;
    display: block;
    position: absolute;
  }
  .init { display: block; }
}
.owl-slide0  { background-image:url(../img/presentation/00-bg.jpg); }
.owl-slide1  { background-image:url(../img/presentation/01-bg.jpg); }
.owl-slide2  { background-image:url(../img/presentation/02-bg.jpg); }
.owl-slide3  { background-image:url(../img/presentation/03-bg.jpg); }
.owl-slide4  { background-image:url(../img/presentation/04-bg.jpg); }
.owl-slide5  { background-image:url(../img/presentation/05-bg.jpg); }
.owl-slide6  { background-image:url(../img/presentation/06-bg.jpg); }
.owl-slide7  { background-image:url(../img/presentation/07-bg.jpg); }
.owl-slide8  { background-image:url(../img/presentation/08-bg.jpg); }
.owl-slide9  { background-image:url(../img/presentation/09-bg.jpg); }
.owl-slide10 { background-image:url(../img/presentation/10-bg.jpg); }
.owl-slide11 { background-image:url(../img/presentation/11-bg.jpg); }
.owl-slide12 { background-image:url(../img/presentation/12-bg.jpg); }
.owl-slide13 { background-image:url(../img/presentation/13-bg.jpg); }
.owl-slide14 { background-image:url(../img/presentation/14-bg.jpg); }
.owl-slide15 { background-image:url(../img/presentation/15-bg.jpg); }

//hack to free up memory
.clear .owl-slide, .clear .owl-slide * { background: none !important; }

.teaser, .overlay {
  background-size: 1024px 768px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.overlay {

  .overlay-close {
    height: 55px;
    position: absolute;
    right: 80px;
    top: 70px;
    width: 60px;
  }
}
.owl-slide2 {
  .play {
    display: block;
    height: 300px;
    left: 360px;
    position: absolute;
    top: 230px;
    width: 300px;
  }
  video {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.owl-slide3 {
  .slide-overlay-info {
    background-repeat: no-repeat;
    left: 90px;
    position: absolute;
    opacity: 0;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    top: 120px;

    .close {
      display: block;
      height: 50px;
      position: absolute;
      right: 0;
      top: 10px;
      width: 50px;
    }
  }
  .slide-overlay-init {
    background-image: url("../img/slide3/text.png");
    background-size: 432px 416px;
    height: 416px;
    opacity: 0;
    width: 432px;
  }
  .slide-overlay-1 {
    background-image: url("../img/slide3/el-1.png");
    background-size: 471px 647px;
    height: 647px;
    width: 471px;
  }
  .slide-overlay-2 {
    background-image: url("../img/slide3/el-2.png");
    background-size: 697px 484px;
    height: 484px;
    width: 697px;

    .close { right: 215px; }
  }
  .slide-overlay-3 {
    background-image: url("../img/slide3/el-3.png");
    background-size: 897px 343px;
    height: 343px;
    width: 897px;

    .close { right: 410px; }
  }
  .slide-btn-show-1 {
    height: 200px;
    left: 256px;
    top: 569px;
    width: 247px;
  }
  .slide-btn-show-2 {
    height: 200px;
    left: 531px;
    top: 372px;
    width: 247px;
  }
  .slide-btn-show-3 {
    height: 369px;
    left: 761px;
    top: 0px;
    width: 247px;
  }
}
.active {
  .slide-overlay-init {
    opacity: 1;
    transition-delay: 0.2s !important;
    transition: 0.5s;
  }
}

.owl-slide4, .owl-slide5, .owl-slide6, .owl-slide7, .owl-slide8, .owl-slide9 {
  .title, .machine, .subtitle, .bullets {
    position: absolute;
  }
  .title {
    left: 90px;
    top: 90px;
  }
  .machine {
    bottom: 0;
    left: 1100px;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 2;
  }
  .subtitle {
    left: 1024px;
    right: 300px;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    top:235px;
  }
  .bullets {
    height: 0px;
    left: 90px;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    top:350px;
  }
}
.owl-slide4 {
  .title {
    background: url("../img/slide4/title.png") no-repeat;
    background-size: 461px 87px;
    height: 87px;
    width: 461px;
  }
  .machine {
    background: url("../img/slide4/machine.png") no-repeat;
    background-size: 602px 549px;
    height: 549px;
    width: 602px;
  }
  .subtitle {
    background: url("../img/slide4/subtitle.png") no-repeat;
    background-size: 500px 70px;
    height: 70px;
  }
  .bullets {
    background: url("../img/slide4/bullets.png") no-repeat;
    background-size: 349px 295px;
    width: 349px;
  }
  .teaser {
    background-image: url("../img/slide4/teaser.jpg");
  }
}
.owl-slide5 {
  .title {
    background: url("../img/slide5/title.png") no-repeat;
    background-size: 428px 87px;
    height: 87px;
    width: 428px;
  }
  .machine {
    background: url("../img/slide5/machine.png") no-repeat;
    background-size: 367px 768px;
    height: 768px;
    width: 367px;
  }
  .subtitle {
    background: url("../img/slide5/subtitle.png") no-repeat;
    background-size: 602px 70px;
    height: 70px;
  }
  .bullets {
    background: url("../img/slide5/bullets.png") no-repeat;
    background-size: 347px 333px;
    width: 347px;
  }
  .overlay {
    background-image: url("../img/slide5/overlay.jpg");
  }
  .hand {
    background: url("../img/slide5/hand.png") no-repeat;
    bottom: -400px;
    width: 345px;
    height: 395px;
    background-size: 343px 393px;
    position: absolute;
    left: 430px;
    z-index: 2;
    transition: 0.5s cubic-bezier(0.75, 0.34, 0.12, 1);
  }
}
.owl-slide6 {
  .title {
    background: url("../img/slide6/title.png") no-repeat;
    background-size: 487px 137px;
    height: 137px;
    width: 487px;
  }
  .machine {
    background: url("../img/slide6/machine.png") no-repeat;
    background-size: 340px 768px;
    height: 768px;
    width: 340px;
  }
  .subtitle {
    background: url("../img/slide6/subtitle.png") no-repeat;
    background-size: 553px 71px;
    height: 71px;
    top: 285px;
  }
  .bullets {
    background: url("../img/slide6/bullets.png") no-repeat;
    background-size: 488px 295px;
    width: 488px;
    top: 390px;
  }
  .teaser {
    background-image: url("../img/slide6/teaser.jpg");
  }
}
.owl-slide7 {
  .title {
    background: url("../img/slide7/title.png") no-repeat;
    background-size: 525px 87px;
    height: 87px;
    width: 525px;
  }
  .machine {
    background: url("../img/slide7/machine.png") no-repeat;
    background-size: 534px 630px;
    height: 625px;
    width: 593px;
  }
  .subtitle {
    background: url("../img/slide7/subtitle.png") no-repeat;
    background-size: 508px 70px;
    height: 70px;
  }
  .bullets {
    background: url("../img/slide7/bullets.png") no-repeat;
    background-size: 394px 223px;
    height: 0;
    width: 394px;
  }
}
.owl-slide8 {
  .title {
    background: url("../img/slide8/title.png") no-repeat;
    background-size: 445px 87px;
    height: 87px;
    width: 445px;
  }
  .machine {
    background: url("../img/slide8/machine.png") no-repeat;
    background-size: 476px 676px;
    height: 676px;
    width: 476px;
  }
  .subtitle {
    background: url("../img/slide8/subtitle.png") no-repeat;
    background-size: 600px 70px;
    height: 70px;
  }
  .bullets {
    background: url("../img/slide8/bullets.png") no-repeat;
    background-size: 491px 180px;
    height: 0;
    width: 491px;
  }
  .overlay {
    background-image: url("../img/slide8/overlay.jpg");
  }
}
.owl-slide9 {
  .title {
    background: url("../img/slide9/title.png") no-repeat;
    background-size: 252px 87px;
    height: 87px;
    width: 252px;
  }
  .machine {
    background: url("../img/slide9/machine.png") no-repeat;
    background-size: 420px 724px;
    height: 724px;
    left: 320px;
    opacity: 0;
    width: 420px;
  }
  .infoboxes {
    background: url("../img/slide9/infoboxes.png") no-repeat center center;
    background-size: 844px 411px;
    height: 411px;
    left: 534px;
    position: absolute;
    right: 534px;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    top: 200px;
  }
}
.owl-slide12 {
  .title {
    background: url("../img/slide12/title.png") no-repeat;
    background-size: 272px 87px;
    height: 87px;
    left: 90px;
    position: absolute;
    top: 90px;
    width: 272px;
  }
  .form-col {
    left: 505px;
    position: absolute;
    top: 90px;
    width: 430px;
  }
  .signup-col {
    left: 90px;
    position: absolute;
    top: 230px;

    h1 {
      font-size: 31px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .checkbox-container { margin-bottom: 5px; }
    label {
      font-size: 22px;
      line-height: 37px;
      text-transform: uppercase;
      padding-top: 5px;
    }
  }
  .form-loading {
    background: rgba(#07285a, 0.9);
    display: none;
    height: 100%;
    left: 0;
    padding-top: 150px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    h1 {
      font-size: 70px;
      font-weight: bold;
    }
    p {
      font-size: 35px;
    }
  }
  .form-success {
    background: rgba(#07285a, 0.9);
    display: none;
    height: 100%;
    left: 0;
    padding-top: 150px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    h1 {
      font-size: 70px;
      font-weight: bold;
    }
    p {
      font-size: 35px;
    }
    a {
      color: #FFF;
    }
  }
}
.active {
  .owl-slide5 {
    .machine {
      left: 600px;
    }
    .subtitle {
      left: 90px;
      transition-delay: 0.5s;
    }
    .bullets {
      height: 350px;
      transition-delay: 1s;
    }
    .hand {
      bottom: 0px;
      transition-delay: 1.2s;
    }
  }

  .owl-slide7 {
    .machine {
      left: 475px;
    }
    .subtitle {
      left: 90px;
      transition-delay: 0.5s;
    }
    .bullets {
      height: 295px;
      transition-delay: 1s;
    }
  }

   .owl-slide8 {
    .machine {
      left: 550px;
    }
    .subtitle {
      left: 90px;
      transition-delay: 0.5s;
    }
    .bullets {
      height: 295px;
      transition-delay: 1s;
    }
  }
  .owl-slide9 {
    .machine { opacity: 1; }
    .infoboxes {
      left: 90px;
      right: 90px;
      transition-delay: 0.5s;
    }
  }
}

.post-teaser-active {
  .owl-slide4 {
    .machine {
      left: 515px;
    }
    .subtitle {
      left: 90px;
      transition-delay: 0.5s;
    }
    .bullets {
      height: 295px;
      transition-delay: 1s;
    }
  }

  .owl-slide6 {
    .machine {
      left: 600px;
    }
    .subtitle {
      left: 90px;
      transition-delay: 0.5s;
    }
    .bullets {
      height: 295px;
      transition-delay: 1s;
    }
  }
}
