$blue: #133A7F;
$gray: #CCD3DA;
$orange: #f07c00;
$error: #f00000;

@import "reset";
@import "fonts";
@import "global";
@import "owl/owl.carousel";
@import "owl/animate";
@import "owl/owl.theme.default";
@import "select";
@import "slides";