$blue: #133A7F;
$blueDarker: #002266;
$gray: #CCD3DA;
$orange: #f07c00;
$error: #f00000;

@import "reset";
@import "mixins/gradient";
@import "anim";
@import "fonts";
@import "global";
@import "owl/owl.carousel";
@import "owl/animate";
@import "owl/owl.theme.default";
@import "select";
@import "slides2";

@import 'questionaire';
@import 'modal';



sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 50%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
  margin:0 4px;
}

sup {
  /* Move the superscripted text up */
  top: -0.75em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}

b{
  font-family: "Helvetica Neue Medium", arial, sans-serif;
}

.side-menu{
  transform: translateX(-100%);
  transition: transform 0.25s;
  left:0px!important;
  .sidebtn{
    display:none;
  }
  &.active{
    transform: translateX(0);
    .sidebtn{
      display:block;
    }
  }
}

.overlay-menu{
  opacity:0;
  transition: opacity 0.25s;
  &.active{
    opacity: 1;
    display:block!important;
  }
}

.menu{
  display:block;
  &.active{
    display:none;
  }
}

.owl-slide{
  .layer{
    position:relative;
    display:none;
    width:100%;
    height:100%;
    &.active{
      display:block;
      //@extend %animated;
      //@extend %fadeIn;
    }
    >img{
      width:100%;
      height:auto;
    }
  }
}



.btn, .btn-front{
  position:absolute;
  display:block;
  min-width:50px;
  min-height:40px;
  //border:1px solid #ccc;
}

.btn-front{
  z-index:10;
}

.btn[data-toggle="slideTo"]{
  display:none!important;
}

.elements{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  span{
    font-size:40px;
    &.active{
      font-weight: bold;
    }
  }
  .head{
    h2{


    }
    &.head--products-overview{
      padding:82px 90px;
      h2{
        text-transform: uppercase;
        font-family: "Helvetica Neue Light", arial, sans-serif;
        font-size:50px;
        font-weight:100;
        line-height:1;
        color:$blue;
        margin-bottom:8px;
        em{
          font-family: "Helvetica Neue", arial, sans-serif;
          font-weight:bold;
          color:$orange;
        }
      }
      h3{
        font-size:31px;
        line-height:1.2;
        color:#222;
      }
    }
  }
  .copy{
    color:#222;
    font-family: "Helvetica Neue Light", arial, sans-serif;
    blockquote{
      font-size:36px;
      font-style:italic;
      position:relative;
      font-family: "Helvetica Neue", arial, sans-serif;
      color:#000;
      line-height:1.3;
      &:before{
        content:"“";
        position:absolute;
        font-family: "Helvetica Neue Bold", arial, sans-serif;
        font-style:normal;
        font-weight:600;
        font-size:100px;
        top:-12px;
        left:-58px;
        line-height: 1;
        color:$blueDarker;
      }
      &:after{
        content:"”";
        position:absolute;
        font-family: "Helvetica Neue Bold", arial, sans-serif;
        font-style:normal;
        font-size:100px;
        font-weight:600;
        top:85%;
        right:-58px;
        line-height: 1;
        color:$blueDarker;
      }
    }
    ul{
      padding-left:30px;
      li{
        font-size:26px;
        line-height:1.2;
        margin-bottom: 20px;
        &:before{
          content:'⚫';
          position: absolute;
          top: 0.5em;
          left: -30px;
          font-size: 0.65em;
          margin: 0;
          padding: 0;
          display: block;
          line-height: 1;
          color: $blue;
        }
      }
    }
    &.copy--intro{
      padding:90px;
      color:white;
      h2{
        img{
          position:relative;
          margin-bottom: 25px;
        }
      }
      p{
        font-family: "Helvetica Neue Light", arial, sans-serif;
        font-weight:lighter;
        font-size:21px;
        color:#c7d0d8;
        line-height: 1.35;
        margin-bottom: 60px;
      }
    }
    &.copy--home{
      font-size:36px;
      color:#000;
      line-height:1.22;
    }
    &.copy--clinical{
      ul{
        li{
          font-size:28px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .foot{
    color:#849ebb;
    position:absolute;
    width:100%;
    top:710px;
    left:0px;
    font-family: "Helvetica Neue Light", arial, sans-serif;
    &.foot--copyright{
      font-size:18px;
      line-height:1;
      text-align:center;
    }
    &.foot--intro{
      font-size:16px;
      line-height:1;
      text-align:right;
      padding:0px 90px;
      letter-spacing:0.75px;
    }
    &.foot--clinical{
      font-size:18px;
      line-height:1;
      text-align:left;
      padding:0px 90px;
    }
  }
}


.flipcard{
  width:100%;
  height:100%;
  font-size:26px;
  >div{
    position:relative;
    display:block;
    border-radius:10px;
    //overflow:hidden;
    height:100%;

    .texts{
      position: absolute;
      text-align: center;
      //padding:50px;
      top:50%;
      transform:translateY(-50%);
      width: 100%;
      p{
        margin-bottom:0.6em;
        font-size:25px;
        line-height:1.15;
        font-family: "Helvetica Neue Light", arial, sans-serif;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    .btn-cta{
      position: absolute;
      bottom:0px;
      left:50%;
      transform: translate(-50%,50%);
      font-size:22px;
      line-height:40px;
      padding:0px 30px;
      border-radius:5px;
      $gradientBg : (
        0% : #EEAA00,
        100% : #FA8400
      );
      @include gradient(90deg, $gradientBg);
      .btn-cta-c-orange{
        $gradientBg : (
          0% : #EEAA00,
          100% : #FA8400
        );
        @include gradient(0deg, $gradientBg);
      }
    }
  }
  .front{
    &.grd{
      $gradientBg : (
        0% : #426190,
        100% : #839DB9
      );
      @include gradient(215deg, $gradientBg);
      &.grd--tl{
        @include gradient(215deg, $gradientBg);
      }
      &.grd--tr{
        @include gradient(315deg, $gradientBg);
      }
      &.grd--bl{
        @include gradient(135deg, $gradientBg);
      }
      &.grd--br{
        @include gradient(45deg, $gradientBg);
      }
    }
    border:3px solid #C6CFD4;
  }
  .back{
    display:none;

    &.grd{
      $gradientBg : (
        0% : #031C5C,
        100% : #284D91
      );
      @include gradient(215deg, $gradientBg);
      &.grd--tl{
        @include gradient(215deg, $gradientBg);
      }
      &.grd--tr{
        @include gradient(315deg, $gradientBg);
      }
      &.grd--bl{
        @include gradient(135deg, $gradientBg);
      }
      &.grd--br{
        @include gradient(45deg, $gradientBg);
      }
    }
    border:3px solid #809AB9;
  }
  &.flipcard--flipped{
    .front{
      display:none;
    }
    .back{
      display:block;
    }
  }
}

.prop{
  position:absolute;
  top:0;
  left:0;
  &.prop-center{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    img{
      position:relative;
    }
  }
  &.prop--image{

  }
  &.prop--badgetext{
    font-size:14px;
    font-family: "Helvetica Neue", arial, sans-serif;
    height:100px;
    width:120px;
    line-height:100px;
    display:block;
    margin-left:115px;
    span{
      display:inline-block;
      vertical-align:middle;
      font-size:14px;
      line-height:1.25;
      color:#222;
    }
  }
}




// animated props
.owl-item.active{
  .owl-slide{
    .layer.active{

      .motion{
        @extend %animatedDur05s;

        &--delay05{
          @extend %animatedDelay05s;
        }
        &--delay025{
          @extend %animatedDelay025s;
        }
        &--delay05{
          @extend %animatedDelay05s;
        }
        &--delay075{
          @extend %animatedDelay075s;
        }
        &--delay1{
          @extend %animatedDelay1s;
        }
        &--delay125{
          @extend %animatedDelay125s;
        }
        &--delay15{
          @extend %animatedDelay15s;
        }
        &--delay175{
          @extend %animatedDelay175s;
        }

        &--zoomIn{
          @extend .zoomIn;
        }
        &--rotateIn{
          @extend .rotateIn;
        }
        &--slideInDown{
          @extend .slideInDown;
        }
        &--slideInLeft{
          @extend .slideInLeft;
        }
        &--slideInRight{
          @extend .slideInRight;
        }
        &--slideInUp{
          @extend .slideInUp;
        }
        &--bounceIn{
          @extend .bounceIn;
        }
      }

    }
  }
}
