$blue: #133A7F;
$gray: #CCD3DA;
$orange: #f07c00;
$error: #f00000;

@import "reset";
@import "mixins/gradient";
@import "anim";
@import "fonts";
@import "global";
@import "owl/owl.carousel";
@import "owl/animate";
@import "owl/owl.theme.default";
@import "select";
@import "slides2";

@import 'questionaire';
@import 'modal';


.side-menu{
  transform: translateX(-100%);
  transition: transform 0.25s;
  left:0px!important;
  .sidebtn{
    display:none;
  }
  &.active{
    transform: translateX(0);
    .sidebtn{
      display:block;
    }
  }
}

.overlay-menu{
  opacity:0;
  transition: opacity 0.25s;
  &.active{
    opacity: 1;
    display:block!important;
  }
}

.menu{
  display:block;
  &.active{
    display:none;
  }
}

.owl-slide{
  .layer{
    position:relative;
    display:none;
    width:100%;
    height:100%;
    &.active{
      display:block;
      @extend %animated;
      @extend %fadeIn;
    }
    >img{
      width:100%;
      height:auto;
    }
  }
}


.btn, .btn-front{
  position:absolute;
  display:block;
  min-width:50px;
  min-height:40px;
  //border:1px solid #ccc;
}

.btn-front{
  z-index:10;
}

.btn[data-toggle="slideTo"]{
  display:none!important;
}

.elements{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  span{
    font-size:40px;
    &.active{
      font-weight: bold;
    }
  }
}


.flipcard{
  width:100%;
  height:100%;
  font-size:26px;
  >div{
    position:relative;
    display:block;
    border-radius:10px;
    //overflow:hidden;
    height:100%;

    .texts{
      position: absolute;
      text-align: center;
      //padding:50px;
      top:50%;
      transform:translateY(-50%);
      width: 100%;
      p{
        margin-bottom:0.6em;
        font-size:25px;
        line-height:1.15;
        &:last-child{
          margin-bottom:0;
        }
        sub, sup {
          /* Specified in % so that the sup/sup is the
             right size relative to the surrounding text */
          font-size: 50%;

          /* Zero out the line-height so that it doesn't
             interfere with the positioning that follows */
          line-height: 0;

          /* Where the magic happens: makes all browsers position
             the sup/sup properly, relative to the surrounding text */
          position: relative;

          /* Note that if you're using Eric Meyer's reset.css, this
             is already set and you can remove this rule */
          vertical-align: baseline;
          margin:0 4px;
        }

        sup {
          /* Move the superscripted text up */
          top: -0.75em;
        }

        sub {
          /* Move the subscripted text down, but only
             half as far down as the superscript moved up */
          bottom: -0.25em;
        }
      }
    }
    .btn-cta{
      position: absolute;
      bottom:0px;
      left:50%;
      transform: translate(-50%,50%);
      font-size:22px;
      line-height:40px;
      padding:0px 30px;
      border-radius:5px;
      $gradientBg : (
        0% : #EEAA00,
        100% : #FA8400
      );
      @include gradient(90deg, $gradientBg);
      .btn-cta-c-orange{
        $gradientBg : (
          0% : #EEAA00,
          100% : #FA8400
        );
        @include gradient(0deg, $gradientBg);
      }
    }
  }
  .front{
    &.grd{
      $gradientBg : (
        0% : #426190,
        100% : #839DB9
      );
      @include gradient(215deg, $gradientBg);
      &.grd--tl{
        @include gradient(215deg, $gradientBg);
      }
      &.grd--tr{
        @include gradient(315deg, $gradientBg);
      }
      &.grd--bl{
        @include gradient(135deg, $gradientBg);
      }
      &.grd--br{
        @include gradient(45deg, $gradientBg);
      }
    }
    border:3px solid #C6CFD4;
  }
  .back{
    display:none;

    &.grd{
      $gradientBg : (
        0% : #031C5C,
        100% : #284D91
      );
      @include gradient(215deg, $gradientBg);
      &.grd--tl{
        @include gradient(215deg, $gradientBg);
      }
      &.grd--tr{
        @include gradient(315deg, $gradientBg);
      }
      &.grd--bl{
        @include gradient(135deg, $gradientBg);
      }
      &.grd--br{
        @include gradient(45deg, $gradientBg);
      }
    }
    border:3px solid #809AB9;
  }
  &.flipcard--flipped{
    .front{
      display:none;
    }
    .back{
      display:block;
    }
  }
}

.prop{
  position:absolute;
  top:0;
  left:0;
  &.prop-center{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    img{
      position:relative;
    }
  }
}
