<div class="layer layer--sub-05">
  <img src="img/presentation/07B Clinic Solution - OVERLAY 8.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="462,645" data-size="100,40" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--sub-04">
  <img src="img/presentation/07B Clinic Solution - OVERLAY 7.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="462,645" data-size="100,40" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--sub-03">
  <img src="img/presentation/07B Clinic Solution - OVERLAY 6.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="462,645" data-size="100,40" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--sub-02">
  <img src="img/presentation/07B Clinic Solution - OVERLAY 5.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="462,645" data-size="100,40" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>

<div class="layer layer--sub-01">
  <img src="img/presentation/07A Clinic Solution.jpg">
  <div class="elements">
    <i class="btn btn-1" data-pos="225,345" data-size="140,40" data-toggle="layer" data-target=".layer--sub-02"></i>
    <i class="btn btn-2" data-pos="660,345" data-size="140,40" data-toggle="layer" data-target=".layer--sub-03"></i>
    <i class="btn btn-3" data-pos="225,655" data-size="140,40" data-toggle="layer" data-target=".layer--sub-04"></i>
    <i class="btn btn-4" data-pos="660,655" data-size="140,40" data-toggle="layer" data-target=".layer--sub-05"></i>
  </div>
</div>


<div class="layer layer--05">
  <img src="img/presentation/06B Clinic Challenges - OVERLAY 4.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="462,658" data-size="100,40" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--04">
  <img src="img/presentation/06B Clinic Challenges - OVERLAY 3.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="462,658" data-size="100,40" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--03">
  <img src="img/presentation/06B Clinic Challenges - OVERLAY 2.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="462,658" data-size="100,40" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--02">
  <img src="img/presentation/06B Clinic Challenges - OVERLAY 1.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="462,658" data-size="100,40" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>

<div class="layer layer--01 active">
  <img src="img/presentation/06A Clinic Challenges.jpg">
  <div class="elements">
    <i class="btn btn-to-sub" data-pos="90,90" data-size="405,280">
      <div class="flipcard">
        <div class="front grd grd--br">
          <div class="texts"><p>Many patients chronically<br>display elevated levels of<br>plasma mediators of<br>systemic inflammation</p></div>
          <i class="btn-cta btn-cta-front" data-toggle="layer" data-target=".layer--02">Read more</i>
        </div>
        <div class="back grd grd--br">
          <div class="texts">
            <p>
              Switching from standard to ultrapure<br>dialysis fluid reduces levels of plasma<br>mediators of systemic inflammation<sup>7</sup>
            </p>
            <p>It is also associated with an improvement<br>in nutrition and anemia parameters<sup>7</sup></p>
          </div>
          <i class="btn-cta btn-cta-back" data-toggle="layer" data-target=".layer--sub-02">Read more</i>
        </div>
      </div>
    </i>
    <i class="btn btn-to-sub" data-pos="530,90" data-size="405,280">
      <div class="flipcard">
        <div class="front grd grd--bl">
          <div class="texts"><p>They face recurrent<br>bacteriological contamination<br>of their HD machines</p></div>
          <i class="btn-cta btn-cta-front" data-toggle="layer" data-target=".layer--03">Read more</i>
        </div>
        <div class="back grd grd--bl">
          <div class="texts"><p>Proactive and regular integrated heat disinfection of the water system and distribution loop can prevent formation of biofilm</p></div>
          <i class="btn-cta btn-cta-front" data-toggle="layer" data-target=".layer--sub-03">Read more</i>
        </div>
      </div>
    </i>
    <i class="btn btn-to-sub" data-pos="90,400" data-size="405,280">
      <div class="flipcard">
        <div class="front grd grd--tr">
          <div class="texts"><p>Some patients are suffering<br>from reduced response to<br>erythropiesis-stimulating agents<br>(ESAs), which is suspected to be<br>related to systemic inflammation</p></div>
          <i class="btn-cta btn-cta-front" data-toggle="layer" data-target=".layer--04">Read more</i>
        </div>
        <div class="back grd grd--tr">
          <div class="texts"><p>Use of ultrapure dialysis fluid<br>in hemodialysis patients results<br>in an increase in hemoglobin<sup>7</sup><br>and a decrease in erythropoietin<br>requirement<sup>7</sup></p></div>
          <i class="btn-cta btn-cta-front" data-toggle="layer" data-target=".layer--sub-04">Read more</i>
        </div>
      </div>
    </i>
    <i class="btn btn-to-sub" data-pos="530,400" data-size="405,280">
      <div class="flipcard">
        <div class="front grd grd--tl">
          <div class="texts"><p>One ambition of the clinic<br>is to improve the quality of<br>fluid to meet the ISO standards</p></div>
          <i class="btn-cta btn-cta-front" data-toggle="layer" data-target=".layer--05">Read more</i>
        </div>
        <div class="back grd grd--tl">
          <div class="texts"><p>Automated and contolled<br>processes help to meet ISO<br>requirements for sustainable<br>fluid quality</p></div>
          <i class="btn-cta btn-cta-front" data-toggle="layer" data-target=".layer--sub-05">Read more</i>
        </div>
      </div>
    </i>

    <i class="prop prop-center"><img src="img/presentation/circle-center.png" alt=""  width="158" height="158"/></i>

<!--
    <i class="btn btn-2" data-pos="225,345" data-size="140,40" data-toggle="layer" data-target=".layer--03"></i>
    <i class="btn btn-2" data-pos="660,345" data-size="140,40" data-toggle="layer" data-target=".layer--03"></i>
    <i class="btn btn-3" data-pos="225,655" data-size="140,40" data-toggle="layer" data-target=".layer--04"></i>
    <i class="btn btn-4" data-pos="660,655" data-size="140,40" data-toggle="layer" data-target=".layer--05"></i>
  -->
  </div>
</div>
