<div class="layer layer--01 active">
  <img src="img/presentation/08 Total Solution.jpg">
  <div class="elements">
    <i class="btn btn-solution-1" data-pos="260,350" data-size="50,50" data-toggle="slideTo" data-target=".slide-solution-softpac-citrate"></i>
    <i class="btn btn-solution-2" data-pos="234,456" data-size="50,50" data-toggle="slideTo" data-target=".slide-solution-ultrafilter"></i>
    <i class="btn btn-solution-3" data-pos="246,524" data-size="50,50" data-toggle="slideTo" data-target=".slide-solution-cleancart"></i>
    <i class="btn btn-solution-4" data-pos="766,224" data-size="50,50" data-toggle="slideTo" data-target=".slide-solution-monitors"></i>
    <i class="btn btn-solution-4" data-pos="780,570" data-size="50,50" data-toggle="slideTo" data-target=".slide-solution-cwp-800"></i>
  </div>
</div>
