<div class="layer layer--01 active">
  <img src="img/presentation/09 Solution 1 - CWP 800.jpg">
  <div class="elements">
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="slideTo" data-target=".slide-total-solutions"></i>
    <a class="btn btn-link-brochure" data-pos="385,635" data-size="130,45" href="VabletGeneral://openFileName/CWP800_brochure_Global_A4_8p_low-2?returnsToCallerOnClose=true"></a>
    <a class="btn btn-link-datasheet" data-pos="525,635" data-size="130,45" href="VabletGeneral://openFileName/CWP800_datasheet_A4_low-8?returnsToCallerOnClose=true"></a>
  </div>
</div>
