<div class="layer layer--09">

  <img src="img/questionnaires/bg-results.jpg">
  <div class="results-container">
    <ul class="bars" id="resultBars">
      <li id="careSetting1" class="bar" data-score="3">
        <div class="counter" data-count="150">0</div>
      </li>
      <li id="careSetting2" class="bar" data-score="1">
        <div class="counter" data-count="150">0</div>
      </li>
      <li id="careSetting3" class="bar" data-score="2">
        <div class="counter" data-count="150">0</div>
      </li>
      <li id="careSetting4" class="bar" data-score="0">
        <div class="counter" data-count="150">0</div>
      </li>
      <li id="careSetting5" class="bar" data-score="0">
        <div class="counter" data-count="150">0</div>
      </li>
      <li id="careSetting6" class="bar" data-score="0">
        <div class="counter" data-count="150">0</div>
      </li>
    </ul>
    <div class="badges">
      <i class="badge"><img width="122" src="img/questionnaires/care-setting-1.png" alt=""></i>
      <i class="badge"><img width="122" src="img/questionnaires/care-setting-2.png" alt=""></i>
      <i class="badge"><img width="122" src="img/questionnaires/care-setting-3.png" alt=""></i>
      <i class="badge"><img width="122" src="img/questionnaires/care-setting-4.png" alt=""></i>
      <i class="badge"><img width="122" src="img/questionnaires/care-setting-5.png" alt=""></i>
      <i class="badge"><img width="122" src="img/questionnaires/care-setting-6.png" alt=""></i>
    </div>
  </div>
  <div class="elements">
    <i class="btn btn-topic" data-pos="380,570" data-size="122,124" data-toggle="slideTo" data-target=".slide-intro"></i>
  </div>
  <i class="btn btn-close" data-pos="884,45" data-size="50,50" data-toggle="layer" data-target=".layer--01"></i>
</div>



<div class="layer layer--08">

  <img src="img/questionnaires/bg-questionnaire.jpg">
  <div class="question-container">
    <h2 class="question motion motion--slideInLeft"><span>Q6: </span>How does the clinic monitor treatment?</h2>
  </div>
  <div class="answers-container">
    <ul class="answers">
      <li class="motion motion--zoomIn motion--delay025">
        <span class="bullet">A</span>
        <h4>No structured monitoring; no/limited lab</h4>
        <p>Patient compliance: session, diet, treatment time, water removal, manual blood pressure</p>
      </li>
      <li class="motion motion--zoomIn motion--delay05">
        <span class="bullet">B</span>
        <h4>Minimal monitoring and patient file; quarterly Kt/V</h4>
        <p>Treatment time, dry weight, manual blood pressure, computerized data storage</p>
      </li>
      <li class="motion motion--zoomIn motion--delay1">
        <span class="bullet">C</span>
        <h4>Structured treatment monitoring; monthly Kt/V</h4>
        <p>Systematic BPM, dry weight, blood-test regime as per guidelines, computerized data-logging and storage</p>
      </li>
      <li class="motion motion--zoomIn motion--delay125">
        <span class="bullet">D</span>
        <h4>Effective treatment monitoring; mandatory session documentation, incl. Kt/V.</h4>
        <p>Integrated BPM, dry weight, access flow, strong blood-test regime (incl. mid molecules), integrated IT system</p>
      </li>
    </ul>
  </div>
  <i class="btn btn-next" id="calculate-results" data-toggle="layer" data-target=".layer--09">
    <img src="img/next.png" alt="">
  </i>
  <i class="btn btn-close" data-pos="884,45" data-size="50,50" data-toggle="layer" data-target=".layer--01"></i>
</div>



<div class="layer layer--07">

  <img src="img/questionnaires/bg-questionnaire.jpg">
  <div class="question-container">
    <h2 class="question motion motion--slideInLeft"><span>Q5: </span>Which components are used for producing dialysis fluid?</h2>
  </div>
  <div class="answers-container">
    <ul class="answers">
      <li class="motion motion--zoomIn motion--delay025">
        <span class="bullet">A</span>
        <h4>Liquid A&B-concentrates in jugs; local mixing/sourcing</h4>
        <p>No ultrafilters</p>
      </li>
      <li class="motion motion--zoomIn motion--delay05">
        <span class="bullet">B</span>
        <h4>Liquid A-concentrate in jugs or central delivery; some dry bicarbonate</h4>
        <p>No ultrafilters</p>
      </li>
      <li class="motion motion--zoomIn motion--delay075">
        <span class="bullet">C</span>
        <h4>Liquid A-concentrate in jugs/bags or central delivery; dry bicarbonate</h4>
        <p>No ultrafilters</p>
      </li>
      <li class="motion motion--zoomIn motion--delay1">
        <span class="bullet">D</span>
        <h4>Liquid A-concentrate in jugs/bags or central delivery; dry bicarbonate</h4>
        <p>Using ultrafilters</p>
      </li>
      <li class="motion motion--zoomIn motion--delay125">
        <span class="bullet">E</span>
        <h4>BiCart Select system</h4>
        <p>Using ultrafilters</p>
      </li>
    </ul>
  </div>
  <i class="btn btn-next" id="answer-5" data-toggle="layer" data-target=".layer--08">
    <img src="img/next.png" alt="">
  </i>
  <i class="btn btn-close" data-pos="884,45" data-size="50,50" data-toggle="layer" data-target=".layer--01"></i>
</div>


<div class="layer layer--06">

  <img src="img/questionnaires/bg-questionnaire.jpg">
  <div class="question-container">
    <h2 class="question motion motion--slideInLeft"><span>Q4: </span>Which water-production and distribution equipment is currently used?</h2>
  </div>
  <div class="answers-container">
    <ul class="answers">
      <li class="motion motion--zoomIn motion--delay025">
        <span class="bullet">A</span>
        <h4>Rudimentary pre-treatment; softener, carbon filter, and RO unit</h4>
        <p>Distribution loop with multiple/uncontrolled connections</p>
      </li>
      <li class="motion motion--zoomIn motion--delay05">
        <span class="bullet">B</span>
        <h4>Adequate pre-treatment; basic RO plant</h4>
        <p>Distribution loop in ABS disinfected, when possible, with chemicals </p>
      </li>
      <li class="motion motion--zoomIn motion--delay075">
        <span class="bullet">C</span>
        <h4>Full-option pre-treatment; advanced RO plant</h4>
        <p>Scheduled chemical disinfection and testing, incl. HD machines</p>
      </li>
      <li class="motion motion--zoomIn motion--delay1">
        <span class="bullet">D</span>
        <h4>Full-option water room; pro-active heat disinfection</h4>
        <p>Routine sampling and analysis</p>
      </li>
    </ul>
  </div>
  <i class="btn btn-next" id="answer-4" data-toggle="layer" data-target=".layer--07">
    <img src="img/next.png" alt="">
  </i>
  <i class="btn btn-close" data-pos="884,45" data-size="50,50" data-toggle="layer" data-target=".layer--01"></i>
</div>


<div class="layer layer--05">

  <img src="img/questionnaires/bg-questionnaire.jpg">
  <div class="question-container">
    <h2 class="question motion motion--slideInLeft"><span>Q3: </span>Describe the clinic’s dialyzer-usage protocol:</h2>
  </div>
  <div class="answers-container">
    <ul class="answers">
      <li class="motion motion--zoomIn motion--delay025">
        <span class="bullet">A</span>
        <h4>Re-use as standard practice; financial limitation</h4>
      </li>
      <li class="motion motion--zoomIn motion--delay05">
        <span class="bullet">B</span>
        <h4>Re-use; willing to transition to single-use</h4>
      </li>
      <li class="motion motion--zoomIn motion--delay075">
        <span class="bullet">C</span>
        <h4>Single-use low-flux; least expensive </h4>
      </li>
      <li class="motion motion--zoomIn motion--delay1">
        <span class="bullet">D</span>
        <h4>Single-use low-flux; fluid quality inadequate for high-flux</h4>
      </li>
      <li class="motion motion--zoomIn motion--delay125">
        <span class="bullet">E</span>
        <h4>Single-use high-flux; no/few HDF</h4>
      </li>
      <li class="motion motion--zoomIn motion--delay15">
        <span class="bullet">F</span>
        <h4>Single-use high-flux; high/growing HDF</h4>
      </li>
      <li class="motion motion--zoomIn motion--delay175">
        <span class="bullet">G</span>
        <h4>Single-use high-flux; looking for special needs</h4>
      </li>
    </ul>
  </div>
  <i class="btn btn-next" id="answer-3" data-toggle="layer" data-target=".layer--06">
    <img src="img/next.png" alt="">
  </i>
  <i class="btn btn-close" data-pos="884,45" data-size="50,50" data-toggle="layer" data-target=".layer--01"></i>
</div>


<div class="layer layer--04">

  <img src="img/questionnaires/bg-questionnaire.jpg">
  <div class="question-container">
    <h2 class="question motion motion--slideInLeft"><span>Q2: </span>Which type of treatment is most often provided?</h2>
  </div>
  <div class="answers-container">
    <ul class="answers">
      <li class="motion motion--zoomIn motion--delay025">
        <span class="bullet">A</span>
        <h4>Standard HD only; often <3h</h4>
      </li>
      <li class="motion motion--zoomIn motion--delay05">
        <span class="bullet">B</span>
        <h4>Standard HD only; 3-4h</h4>
      </li>
      <li class="motion motion--zoomIn motion--delay075">
        <span class="bullet">C</span>
        <h4>Standard HD, some SN; 3-6h</h4>
        <p>Limited individualization (time, Qb, Na, K)</p>
      </li>
      <li class="motion motion--zoomIn motion--delay1">
        <span class="bullet">D</span>
        <h4>Individualized HD, SN; 3-6h</h4>
        <p>Some HDF, some profiling </p>
      </li>
      <li class="motion motion--zoomIn motion--delay125">
        <span class="bullet">E</span>
        <h4>Mostly HDF + some profiling; 3-6h</h4>
      </li>
    </ul>
  </div>
  <i class="btn btn-next" id="answer-2" data-toggle="layer" data-target=".layer--05">
    <img src="img/next.png" alt="">
  </i>
  <i class="btn btn-close" data-pos="884,45" data-size="50,50" data-toggle="layer" data-target=".layer--01"></i>
</div>


<div class="layer layer--03" id="question-1">

  <img src="img/questionnaires/bg-questionnaire.jpg">
  <div class="question-container">
    <h2 class="question motion motion--slideInLeft"><span>Q1: </span>What is the operational environment of the care unit?</h2>
  </div>
  <div class="answers-container">
    <ul class="answers">
      <li class="motion motion--zoomIn motion--delay025">
        <span class="bullet">A</span>
        <h4>Undersized: treats as many patients as possible</h4>
        <p>Lacks funding/infrastructure/staff needed to consistently deliver treatment to all patients (i.e. some receive only 2 Tx/week).</p>
      </li>
      <li class="motion motion--zoomIn motion--delay05">
        <span class="bullet">B</span>
        <h4>Overloaded: ≥3 flexible shifts/day; all patients treated</h4>
        <p>Infrastructure and staff running at full capacity; occasionally prolongs work hours.</p>
      </li>
      <li class="motion motion--zoomIn motion--delay075">
        <span class="bullet">C</span>
        <h4>Efficient: 2-3 fixed shifts/day; regular patient schedule</h4>
        <p>Optimized infrastructure and staff; profit-oriented structure, running with established workflow and procedures.</p>
      </li>
      <li class="motion motion--zoomIn motion--delay1">
        <span class="bullet">D</span>
        <h4>Flexible: 1-3 shifts/day; often dealing with unstable patients</h4>
        <p>Medical infrastructure and qualified staff; treat unscheduled patients through flexible shifts. Typically hospital-based.</p>
      </li>
      <li class="motion motion--zoomIn motion--delay125">
        <span class="bullet">E</span>
        <h4>Self-care/light-care program; ≤1 shift/day, or 3 working days/week</h4>
        <p></p>
      </li>
    </ul>
  </div>
  <i class="btn btn-next" id="answer-1" data-toggle="layer" data-target=".layer--04">
    <img src="img/next.png" alt="">
  </i>
  <i class="btn btn-close" data-pos="884,45" data-size="50,50" data-toggle="layer" data-target=".layer--01"></i>

</div>




<div class="layer layer--02">

  <img src="img/presentation/01 Home.jpg">
  <div class="modal-container motion motion--zoomIn">
    <div class="btn btn-modal-close" data-pos="882,178" data-size="50,50" data-toggle="layer" data-target=".layer--01"></div>
    <div class="modal-outer">
    	<div class="modal-inner">
    		<h2>NOT SURE WHICH TREATMENT OPTION MATCHES YOUR CUSTOMER?</h2>
    		<div class="desc">
              
    			<p>Get a clearer indication of their needs</br>by answering six simple questions.</p>
    			<i data-toggle="layer" id="get-started" data-target=".layer--03" class="get-started">
    				<img src="img/start-btn.png" alt="">
    			</i>
    		</div>
    	</div>
    </div>
  </div>

</div>


<div class="layer layer--01 active">
  <img src="img/presentation/bg-solutions.jpg">
  <div class="elements">
    <img class="prop prop--image" src="img/presentation/elements/global-identity-logo.png" alt="" width="150" data-pos="785,65">
    <img class="prop prop--image motion motion--bounceIn motion--delay05" src="img/presentation/elements/btn-checklist-hallow.png" alt="" height="50" data-pos="820,172">

    <div class="head head--products-overview motion motion--slideInDown" style="margin-top:40px;">
      <h2>
        Discover our range of<br><em>Integrated treatment options</em>
      </h2>
      <h3>
        Our range of integrated treatment options<br>enables customers to find solutions for their needs
      </h3>
    </div>

    <img class="prop prop--image motion motion--slideInUp motion--delay025" src="img/presentation/elements/badge-frame.png" alt="" width="265" data-pos="90,363">
    <img class="prop prop--image motion motion--rotateIn motion--delay05" src="img/presentation/elements/badge-reuse-hd.png" alt="" height="100" data-pos="90,363">
    <div class="prop prop--badgetext motion motion--zoomIn motion--delay05" data-size="120,100" data-pos="90,363">
      <span>A cost-efficient<br>reuse process to give<br>more patients access<br>to treatment</span>
    </div>

    <img class="prop prop--image motion motion--slideInUp motion--delay025" src="img/presentation/elements/badge-frame.png" alt="" width="265" data-pos="380,363">
    <img class="prop prop--image motion motion--rotateIn motion--delay05" src="img/presentation/elements/badge-efficient-hd.png" alt="" height="100" data-pos="380,363">
    <div class="prop prop--badgetext motion motion--zoomIn motion--delay05" data-size="120,100" data-pos="380,363">
      <span>Efficient and<br>controlled delivery<br>of treatment</span>
    </div>

    <img class="prop prop--image motion motion--slideInUp motion--delay025" src="img/presentation/elements/badge-frame.png" alt="" width="265" data-pos="670,363">
    <img class="prop prop--image motion motion--rotateIn motion--delay05" src="img/presentation/elements/badge-pure-fluid-hd.png" alt="" height="100" data-pos="670,363">
    <div class="prop prop--badgetext motion motion--zoomIn motion--delay05" data-size="120,100" data-pos="670,363">
      <span>Improving patients'<br>outcome by improving<br>the quality of dialysis<br>fluid</span>
    </div>

    <img class="prop prop--image motion motion--slideInUp motion--delay025" src="img/presentation/elements/badge-frame.png" alt="" width="265" data-pos="90,487">
    <img class="prop prop--image motion motion--rotateIn motion--delay05" src="img/presentation/elements/badge-conventional-hd.png" alt="" height="100" data-pos="90,487">
    <div class="prop prop--badgetext motion motion--zoomIn motion--delay05" data-size="120,100" data-pos="90,487">
      <span>Consistent delivery<br>of the dialysis dose<br>while achieving<br>operational objectives</span>
    </div>

    <img class="prop prop--image motion motion--slideInUp motion--delay025" src="img/presentation/elements/badge-frame.png" alt="" width="265" data-pos="380,487">
    <img class="prop prop--image motion motion--rotateIn motion--delay05" src="img/presentation/elements/badge-best-practice-hd.png" alt="" height="100" data-pos="380,487">
    <div class="prop prop--badgetext motion motion--zoomIn motion--delay05" data-size="120,100" data-pos="380,487">
      <span>Combining the<br>performance of HDF<br>with the simplicity<br>of HD</span>
    </div>

    <img class="prop prop--image motion motion--slideInUp motion--delay025" src="img/presentation/elements/badge-frame.png" alt="" width="265" data-pos="670,487">
    <img class="prop prop--image motion motion--rotateIn motion--delay05" src="img/presentation/elements/badge-individual-hd.png" alt="" height="100" data-pos="670,487">
    <div class="prop prop--badgetext motion motion--zoomIn motion--delay05" data-size="120,100" data-pos="670,487">
      <span>Addressing<br>patients' indiviual<br>needs</span>
    </div>

    <img class="prop prop--image" src="img/presentation/elements/global-identity-footer.png" alt="" width="1024" data-pos="0,644">


    <i class="btn btn-topic" data-pos="670,360" data-size="265,104" data-toggle="slideTo" data-target=".slide-intro"></i>
    <i class="btn btn-checklist-start" data-pos="820,172" data-size="115,52" data-toggle="layer" data-target=".layer--02"></i>
  </div>
</div>
