<div class="layer layer--01 active">
  <img src="img/presentation/bg-solutions.jpg">
  <div class="elements">
    <div class="head head--products-overview motion motion--slideInDown">
      <h2>
        The GAMBRO<br><em>U9000 Ultrafilter</em>
      </h2>
      <h3>
        Endotoxin-retention filter designed for producing ultrapure dialysis fluid
      </h3>
    </div>

    <img class="prop prop--image motion motion--slideInRight" src="img/presentation/elements/total-solutions-back-to-overview.png" alt="" width="253" data-pos="680,90">

    <div class="copy prop motion motion--slideInRight" data-pos="385,305">
      <ul>
        <li>Central and essential step for preparation<br>of ultrapure dialysis fluid – recommended<br>by European Best Practice Guidelines<sup>14</sup></li>
        <li>High-performance membrane<br>with endotoxin-retention properties<sup>17</sup></li>
        <li>Use of ultrapure dialysis fluid reduces<br>erythropoietin resistance<sup>7</sup></li>
      </ul>
    </div>

    <img class="prop prop--image motion motion--slideInLeft" src="img/presentation/elements/total-solutions-u9000-ultrafilter-photo.png" alt="" width="260" data-pos="90,280">
    <img class="prop prop--image" src="img/presentation/elements/btn-datasheet.png" alt="" width="133" data-pos="385,635">

    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="slideTo" data-target=".slide-total-solutions"></i>
    <a class="btn btn-link-datasheet" data-pos="385,635" data-size="130,45" href="#"></a>
  </div>
</div>
