<div class="layer layer--01 active">
  <img src="img/presentation/15 References 1.jpg" style="width:100%;height:auto;">
  <div class="elements">
    <i class="btn btn-ref2" data-pos="835,90" data-size="100,40" data-toggle="slideTo" data-target=".slide-references-2"></i>
    <a class="btn btn-referrence" data-pos="773,174" data-size="50,40" href="VabletGeneral://openFileName/01?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="310,237" data-size="50,40" href="VabletGeneral://openFileName/02?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="868,278" data-size="50,40" href="VabletGeneral://openFileName/03?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="415,339" data-size="50,40" href="VabletGeneral://openFileName/04?returnsToCallerOnClose=true"></a>
	<a class="btn btn-referrence" data-pos="912,380" data-size="50,40" href="VabletGeneral://openFileName/05?returnsToCallerOnClose=true"></a>
	<a class="btn btn-referrence" data-pos="744,421" data-size="50,40" href="VabletGeneral://openFileName/06?returnsToCallerOnClose=true"></a>
	<a class="btn btn-referrence" data-pos="574,483" data-size="50,40" href="VabletGeneral://openFileName/07?returnsToCallerOnClose=true"></a>
	<a class="btn btn-referrence" data-pos="853,546" data-size="50,40" href="VabletGeneral://openFileName/08?returnsToCallerOnClose=true"></a>
	<a class="btn btn-referrence" data-pos="243,607" data-size="50,40" href="VabletGeneral://openFileName/09?returnsToCallerOnClose=true"></a>
  </div>
</div>
