<div class="layer layer--02">
  <img src="img/presentation/05 Ambition Quote.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="90,635" data-size="100,45" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--01 active">
  <img src="img/presentation/03 Case - Clinical environment.jpg">
  <div class="elements">
    <i class="btn btn-1"  data-pos="430,250" data-size="320,65"  data-toggle="slideTo" data-target=".slide-case-clinical-operations"></i>
    <i class="btn btn-2"  data-pos="90,635" data-size="160,45"  data-toggle="layer" data-target=".layer--02"></i>
  </div>
</div>
