<div class="layer layer--05">
  <img src="img/presentation/07B Clinic Solution - OVERLAY 8.jpg">
  <div class="elements">
    <i class="btn btn-x" data-pos="100,100" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--04">
  <img src="img/presentation/07B Clinic Solution - OVERLAY 7.jpg">
  <div class="elements">
    <i class="btn btn-x" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--03">
  <img src="img/presentation/07B Clinic Solution - OVERLAY 6.jpg">
  <div class="elements">
    <i class="btn btn-x" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--02">
  <img src="img/presentation/07B Clinic Solution - OVERLAY 5.jpg">
  <div class="elements">
    <i class="btn btn-x" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--01 active">
  <img src="img/presentation/06A Clinic Challenges.jpg">
  <div class="elements">
    <i class="btn btn-1" data-toggle="layer" data-target=".layer--02"></i>
    <i class="btn btn-2" data-toggle="layer" data-target=".layer--03"></i>
    <i class="btn btn-3" data-toggle="layer" data-target=".layer--04"></i>
    <i class="btn btn-4" data-toggle="layer" data-target=".layer--05"></i>
  </div>
</div>
