<div class="layer layer--01 active">
  <img src="img/presentation/15 References 2.jpg" style="width:100%;height:auto;">
  <div class="elements">
    <i class="btn btn-ref1" data-pos="720,90" data-size="100,40" data-toggle="slideTo" data-target=".slide-references-1"></i>
    <a class="btn btn-referrence" data-pos="308,195" data-size="50,40" href="VabletGeneral://openFileName/11?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="607,297" data-size="50,40" href="VabletGeneral://openFileName/13?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="275,360" data-size="50,40" href="VabletGeneral://openFileName/14?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="773,402" data-size="50,40" href="VabletGeneral://openFileName/15?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="401,462" data-size="50,40" href="VabletGeneral://openFileName/16?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="530,545" data-size="50,40" href="VabletGeneral://openFileName/18?returnsToCallerOnClose=true"></a>
    <a class="btn btn-referrence" data-pos="805,587" data-size="50,40" href=""></a>
    <a class="btn btn-referrence" data-pos="280,627" data-size="50,40" href=""></a>
  </div>
</div>
