<div class="layer layer--07">
  <img src="img/presentation/14 Solution 5 - Ultrafilters.jpg">
  <div class="elements">
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="layer" data-target=".layer--01"></i>
    <a class="btn btn-link-datasheet" data-pos="385,635" data-size="130,45" href="#"></a>
  </div>
</div>

<div class="layer layer--06">
  <img src="img/presentation/13 Solution 4 - CleanCart.jpg">
  <div class="elements">
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="layer" data-target=".layer--01"></i>
    <a class="btn btn-link-datasheet" data-pos="385,635" data-size="130,45" href="#"></a>
  </div>
</div>

<div class="layer layer--05">
  <img src="img/presentation/12 Solution 3 - Monitors.jpg">
  <div class="elements">
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="layer" data-target=".layer--01"></i>
    <a class="btn btn-link-brochure-ak98" data-pos="385,635" data-size="177,45" href="#"></a>
    <a class="btn btn-link-brochure-artis" data-pos="575,635" data-size="238,45" href="#"></a>
  </div>
</div>

<div class="layer layer--04">
  <img src="img/presentation/11 Solution 2B - BiCart Cartridge.jpg">
  <div class="elements">
    <i class="btn btn-solution-1" data-pos="385,300" data-size="260,60" data-toggle="layer" data-target=".layer--03"></i>
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="layer" data-target=".layer--01"></i>
    <a class="btn btn-link-datasheet" data-pos="385,635" data-size="130,45" href="#"></a>
  </div>
</div>

<div class="layer layer--03">
  <img src="img/presentation/10 Solution 2A - SoftPac Citrate.jpg">
  <div class="elements">
    <i class="btn btn-solution-1" data-pos="665,300" data-size="150,60" data-toggle="layer" data-target=".layer--04"></i>
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="layer" data-target=".layer--01"></i>
    <a class="btn btn-link-brochure" data-pos="385,635" data-size="130,45" href="#"></a>
    <a class="btn btn-link-datasheet" data-pos="525,635" data-size="130,45" href="#"></a>
  </div>
</div>

<div class="layer layer--02">
  <img src="img/presentation/09 Solution 1 - CWP 800.jpg">
  <div class="elements">
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="layer" data-target=".layer--01"></i>
    <a class="btn btn-link-brochure" data-pos="385,635" data-size="130,45" href="VabletGeneral://openFile/359152?returnsToCallerOnClose=true"></a>
    <a class="btn btn-link-datasheet" data-pos="525,635" data-size="130,45" href="#"></a>
  </div>
</div>

<div class="layer layer--01 active">
  <img src="img/presentation/08 Total Solution.jpg">
  <div class="elements">
    <!--
    <i class="btn btn-solution-1" data-pos="140,345" data-size="168,84" data-toggle="slideTo" data-target=".slide-solution-softpac-citrate"></i>
    <i class="btn btn-solution-2" data-pos="140,450" data-size="140,65" data-toggle="slideTo" data-target=".slide-solution-ultrafilter"></i>
    <i class="btn btn-solution-3" data-pos="140,520" data-size="150,85" data-toggle="slideTo" data-target=".slide-solution-cleancart"></i>
    <i class="btn btn-solution-4" data-pos="660,200" data-size="160,105" data-toggle="slideTo" data-target=".slide-solution-monitors"></i>
    <i class="btn btn-solution-4" data-pos="665,550" data-size="165,80" data-toggle="slideTo" data-target=".slide-solution-cwp-800"></i>
  -->
    <i class="btn btn-solution-1" data-pos="140,345" data-size="168,84" data-toggle="layer" data-target=".layer--02"></i>
    <i class="btn btn-solution-2" data-pos="140,450" data-size="140,65" data-toggle="layer" data-target=".layer--07"></i>
    <i class="btn btn-solution-3" data-pos="140,520" data-size="150,85" data-toggle="layer" data-target=".layer--06"></i>
    <i class="btn btn-solution-4" data-pos="660,200" data-size="160,105" data-toggle="layer" data-target=".layer--05"></i>
    <i class="btn btn-solution-4" data-pos="665,550" data-size="165,80" data-toggle="layer" data-target=".layer--02"></i>
  </div>
</div>
