<div class="layer layer--01 active">
  <img src="img/presentation/08 Total Solution.jpg">
  <div class="elements">
    <!--
    <i class="btn btn-solution-1" data-pos="140,345" data-size="168,84" data-toggle="slideTo" data-target=".slide-solution-softpac-citrate"></i>
    <i class="btn btn-solution-2" data-pos="140,450" data-size="140,65" data-toggle="slideTo" data-target=".slide-solution-ultrafilter"></i>
    <i class="btn btn-solution-3" data-pos="140,520" data-size="150,85" data-toggle="slideTo" data-target=".slide-solution-cleancart"></i>
    <i class="btn btn-solution-4" data-pos="660,200" data-size="160,105" data-toggle="slideTo" data-target=".slide-solution-monitors"></i>
    <i class="btn btn-solution-4" data-pos="665,550" data-size="165,80" data-toggle="slideTo" data-target=".slide-solution-cwp-800"></i>
  -->
  <i class="btn btn-solution-1" data-pos="140,345" data-size="168,84" data-toggle="slideTo" data-target=".slide-solution-softpac-citrate"></i>
  <i class="btn btn-solution-2" data-pos="140,450" data-size="140,65" data-toggle="slideTo" data-target=".slide-solution-ultrafilter"></i>
  <i class="btn btn-solution-3" data-pos="140,520" data-size="150,85" data-toggle="slideTo" data-target=".slide-solution-cleancart"></i>
  <i class="btn btn-solution-4" data-pos="660,200" data-size="160,105" data-toggle="slideTo" data-target=".slide-solution-monitors"></i>
  <i class="btn btn-solution-4" data-pos="665,550" data-size="165,80" data-toggle="slideTo" data-target=".slide-solution-cwp-800"></i>
  </div>
</div>
