<div class="layer layer--01 active">
  <img src="img/presentation/bg-solutions.jpg">
  <div class="elements">
    <img class="prop prop--image motion motion--fadeIn motion--delay025" src="img/presentation/elements/global-identity-logo.png" alt="" width="150" data-pos="785,65">

    <div class="head head--products-overview motion motion--slideInDown" style="margin-top:0px;">
      <h2>
        The PURE FLUID HD<br><em>Treatment Option</em>
      </h2>
      <h3>
        Improving patients' outcome by improving the quality of dialysis fluid
      </h3>
    </div>

    <img class="prop prop--image motion motion--zoomIn motion--delay025" src="img/presentation/elements/badge-large-pure-fluid-hd.png" alt="" width="260" data-pos="90,300">

    <div class="copy copy--home prop motion motion--slideInRight" data-pos="415,345">
      <p>We aim to help HCPs<br>improve fluid quality<br>while maintaining sustainable<br>operational efficiency</p>
    </div>



    <img class="prop prop--image motion motion--slideInUp motion--delay05" src="img/presentation/elements/global-identity-footer.png" alt="" width="1024" data-pos="0,644">
  </div>
</div>
