<div class="layer layer--01 active">
  <img src="img/presentation/bg-blue.jpg">
  <div class="elements">
    <div class="copy copy--intro">
      <h2><img src="img/presentation/elements/text-intro-head-1.png" height="16" alt="Our patient- and market-centric approach to renal care"></h2>
      <p>We believe every person suffering from kidney disease deserves the right therapy, at the right time, in the right clinical environment. What’s more, as a global provider, we understand that every patient, and clinic, is different and has different needs. One of the main challenges healthcare professionals face is achieving balance between clinical targets and operational requirements. These two objectives can prove a challenging combination. It is for this reason that we have designed a wide range of treatment options, enabling healthcare professionals overcome their challenges, their way.</p>
      <h2><img src="img/presentation/elements/text-intro-head-2.png" height="44" alt="Integrated treatment options for different clinical environments"></h2>
      <p>By combining monitors, features, consumables, services, and systems, into integrated treatment options, we aim to help healthcare professionals with improving quality-of-life, and outcomes, for their patients, all while controlling their operational efficiency. Our six treatment options consider everything from a patient’s clinical needs to the governmental and economic factors at work in a particular region. This wide range of treatment options enables our customers to find solutions for their needs, no matter where in the world they are.<br><br>This is how we are <b>Making Possible Personal.</b></p>
    </div>
    <div class="foot foot--intro">
      <p>EUMP/MG3/16-0001 November 2016</p>
    </div>
  </div>
</div>
