<div class="layer layer--02">
  <img src="img/presentation/bg-clinical-ambition.jpg">
  <div class="elements">
    <div class="head head--products-overview motion motion--slideInDown">
      <h2>
        DOCTOR<br><em>MEHMET EMIR BALIK*</em>
      </h2>
    </div>
    <div class="copy prop motion motion--zoomIn" data-pos="90,260">
      <blockquote>
        We are currently looking<br>for better control over<br>the quality of dialysis fluid,<br>in hopes that this will<br>improve patient outcomes
      </blockquote>
    </div>
    <img class="prop prop--image" src="img/presentation/elements/btn-close.png" alt="" width="98" data-pos="90,635">

    <div class="foot foot--clinical">
      <p>
        * Illustrative case story
      </p>
    </div>

    <i class="btn btn-x" data-pos="90,635" data-size="100,45" data-toggle="layer" data-target=".layer--01"></i>
  </div>
</div>
<div class="layer layer--01 active">
  <img src="img/presentation/bg-clinical.jpg">
  <div class="elements">

    <div class="head head--products-overview motion motion--slideInDown">
      <h2>
        The Balukasi Klinik<br><em>Malatya, Turkey*</em>
      </h2>
    </div>

    <img class="prop prop--image motion motion--zoomIn" src="img/presentation/elements/btn-group-clinical-1.png" alt="" width="642" data-pos="89,250">

    <div class="copy copy--clinical prop motion motion--slideInRight" data-pos="90,360">
      <ul>
        <li>Care unit with 28 <br>treatment stations</li>
        <li>Operating with single-use,<br> synthetic low flux dialyzer</li>
        <li>Mixed fleet of HD monitors;<br> does not use ultrafilters</li>
      </ul>
    </div>

    <div class="copy copy--clinical prop motion motion--slideInRight" data-pos="430,360">
      <ul>
        <li>Uses liquid concentrates in jugs</li>
        <li>Water room with pre-treatment<br>and reverse osmosis unit</li>
        <li>6-year-old water system,<br>initially designed to comply<br>with ISO13959</li>
      </ul>
    </div>

    <img class="prop prop--image" src="img/presentation/elements/btn-see-ambition.png" alt="" width="168" data-pos="90,635">

    <div class="foot foot--clinical">
      <p>
        * Illustrative case story
      </p>
    </div>


    <i class="btn btn-other"  data-pos="430,250" data-size="320,65"  data-toggle="slideTo" data-target=".slide-case-clinical-operations"></i>
    <i class="btn btn-x"  data-pos="90,635" data-size="160,45"  data-toggle="layer" data-target=".layer--02"></i>
  </div>
</div>
