<div class="layer layer--01 active">
  <img src="img/presentation/bg-solutions.jpg">
  <div class="elements">
    <div class="head head--products-overview motion motion--slideInDown">
      <h2>
        The GAMBRO SOFTPAC<br><em>CITRATE CONCENTRATE</em>
      </h2>
      <h3>
        The <b>SoftPac</b> citrate is an acetate-free concentrate, removing<br>the potential negative impact of acetate on inflammation<sup>13</sup>
      </h3>
    </div>
    <img class="prop prop--image motion motion--slideInRight" src="img/presentation/elements/total-solutions-back-to-overview.png" alt="" width="253" data-pos="680,90">
    <div class="copy prop motion motion--slideInRight" data-pos="385,405">
      <ul>
        <li>Acetate-free concentrate</li>
        <li>Clean and convenient handling</li>
        <li>Multiple formulations available</li>
      </ul>
    </div>

    <img class="prop prop--image motion motion--zoomIn" src="img/presentation/elements/btn-group-concentrates-1.png" alt="" width="433" data-pos="385,300">
    <img class="prop prop--image motion motion--slideInLeft" src="img/presentation/elements/total-solutions-softpac-citrate-photo.png" alt="" width="415" data-pos="0,232">
    <img class="prop prop--image" src="img/presentation/elements/btn-brochure.png" alt="" width="133" data-pos="385,635">
    <img class="prop prop--image" src="img/presentation/elements/btn-datasheet.png" alt="" width="133" data-pos="525,635">


    <i class="btn btn-solution-1" data-pos="665,300" data-size="150,60" data-toggle="slideTo" data-target=".slide-solution-bicart-cartridge"></i>
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="slideTo" data-target=".slide-total-solutions"></i>
    <a class="btn btn-link-brochure" data-pos="385,635" data-size="130,45" href="#"></a>
    <a class="btn btn-link-datasheet" data-pos="525,635" data-size="130,45" href="#"></a>
  </div>
</div>
