
<div class="layer layer--02">
  <img src="img/presentation/15-bg-b.jpg" style="width:100%;height:auto;">
  <div class="elements">
    <i class="btn btn-1" data-toggle="layer" data-target=".layer--01"></i>
    <i class="btn btn-2 active" data-toggle="layer" data-target=".layer--02"></i>
  </div>
</div>
<div class="layer layer--01 active">
  <img src="img/presentation/15-bg-a.jpg" style="width:100%;height:auto;">
  <div class="elements">
    <i class="btn btn-1 active" data-toggle="layer" data-target=".layer--01"></i>
    <i class="btn btn-2" data-toggle="layer" data-target=".layer--02"></i>
  </div>
</div>
