<div class="layer layer--01 active">
  <img src="img/presentation/bg-solutions.jpg">
  <div class="elements">
    <div class="head head--products-overview motion motion--slideInDown">
      <h2>
        The GAMBRO<br><em>Bicart Cartridge</em>
      </h2>
      <h3>
        Essential component in reducing the potential risk<br>of fluid-related inflammation<sup>18</sup>
      </h3>
    </div>

    <img class="prop prop--image motion motion--slideInRight" src="img/presentation/elements/total-solutions-back-to-overview.png" alt="" width="253" data-pos="680,90">
    <img class="prop prop--image motion motion--zoomIn" src="img/presentation/elements/btn-group-concentrates-2.png" alt="" width="433" data-pos="388,300">

    <div class="copy prop motion motion--slideInRight" data-pos="385,405">
      <ul>
        <li>The convenience of bicarbonate powder</li>
        <li>Easy to use</li>
        <li>The brand you can trust</li>
      </ul>
    </div>


    <img class="prop prop--image motion motion--slideInLeft" src="img/presentation/elements/total-solutions-bicart-cartridge-photo.png" alt="" width="150" data-pos="145,292">
    <img class="prop prop--image" src="img/presentation/elements/btn-datasheet.png" alt="" width="133" data-pos="385,635">

    <i class="btn btn-solution-1" data-pos="385,300" data-size="260,60" data-toggle="slideTo" data-target=".slide-solution-softpac-citrate"></i>
    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="slideTo" data-target=".slide-total-solutions"></i>
    <a class="btn btn-link-datasheet" data-pos="385,635" data-size="130,45" href="VabletGeneral://openFileName/BiCart_Cartridge_1250_sales_sheet_A4_low-2?returnsToCallerOnClose=true"></a>
  </div>
</div>
