<div class="layer layer--01 active">
  <img src="img/presentation/bg-solutions.jpg">
  <div class="elements">
    <div class="head head--products-overview motion motion--slideInDown">
      <h2>
        The GAMBRO<br><em>Cleancart Cartridge</em>
      </h2>
      <h3>
        The <b>CleanCart</b> A and C cartridges are designed for automatic heat<br>disinfection in combination with decalcification and cleaning of HD systems
      </h3>
    </div>

    <img class="prop prop--image motion motion--slideInRight" src="img/presentation/elements/total-solutions-back-to-overview.png" alt="" width="253" data-pos="680,90">

    <div class="copy prop motion motion--slideInRight" data-pos="385,315">
      <ul>
        <li>Automatic heat disinfection in combination<br>with decalcification and cleaning<sup>15</sup></li>
        <li>No need to handle chemicals in canister</li>
        <li>No need for chemical residual testing<br>before treatment<sup>16</sup></li>
      </ul>
    </div>

    <img class="prop prop--image motion motion--slideInLeft" src="img/presentation/elements/total-solutions-cleancart-cartridge-photo.png" alt="" width="322" data-pos="40,275">
    <img class="prop prop--image" src="img/presentation/elements/btn-datasheet.png" alt="" width="133" data-pos="385,635">

    <i class="btn btn-overview" data-pos="680,90" data-size="260,60" data-toggle="slideTo" data-target=".slide-total-solutions"></i>
    <a class="btn btn-link-datasheet" data-pos="385,635" data-size="130,45" href="VabletGeneral://openFileName/CleanCart_Datasheet_TWN_MG165_16-0001?returnsToCallerOnClose=true"></a>
  </div>
</div>
